* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#coming-soon-text {
    height: 100vh;
    width: 100vw;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#coming-soon-text > img {
    height: 400px;
}

#coming-soon-text > h1 {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: var(--heading);
}

#coming-soon-text > p {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: var(--sectors-body-font-size);
}

@media screen and (max-width: 800px) {
    #coming-soon-text > img {
        height: 300px;
    }
}

@media screen and (max-width: 550px) {
    #coming-soon-text > img {
        height: 200px;
    }
}

@media screen and (max-width: 400px) {
    #coming-soon-text > img {
        height: 180px;
    }
}