@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;800&family=Montserrat:wght@700&family=Roboto:wght@300;400;700&display=swap');

/* Roboto: 300, 400, 700 */
/* Barlow: 300, 400, 800 */

@font-face {
    font-family: 'Myriad Pro reg';
    src: url('fonts/Myriad\ Pro\ Regular.ttf');
}
@font-face {
    font-family: 'Myriad Pro bold';
    src: url('fonts/Myriad\ Pro\ Bold.ttf');
}

:root {
    /* --main-heading: clamp(35px, 6vw, 80px); */
    --sectonrs-body-heading: clamp(26px, 3vw, 50px);
    --sectors-body-font-size: clamp(16px, 2vw, 24px);
    --body-text: clamp(16px, 2vw, 20px); 
    --default-padding: 100px;
    --green: #008860;
    --cream: #E5DFAD;
    --gray: #E6E6E6;
    --title-size: clamp(60px, 10vw, 128px);
    --heading: clamp(45px, 6vw, 96px);
}

html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
    overflow-x: hidden;
}

#container {
    
}

.black-layer {
    background-color: black;
    opacity: 75%;
}


/* ---------- PROGRESS BAR ---------- */


#progress-bar {
    height: 4px;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    z-index: 1001;
    top: 0;
}

#progress {
    --progress: 0;
    width: var(--progress);
    height: 100%;
    background-color: white;
}


/* ---------- LOADER ---------- */

#loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1001;
    background-color: var(--green);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Barlow', sans-serif;
}

#loader-greeting {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#loader-loading {
    font-size: 24px;
    text-align: center;
}

#loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-animation > span {
    color: white;
    font-size: 80px;
    line-height: .5em;
    animation: bounce 0.3s infinite alternate;
}

#loading-animation > span:nth-child(2) {
    color: var(--cream);
    animation-delay: .1s;
}

#loading-animation > span:nth-child(3) {
    animation-delay: .2s;
}

@keyframes bounce {
    to {
        transform: translateY(-10px);
    }
}


/* ---------- NAVBAR ---------- */

.navbar {
    background-color: transparent;
    height: 64px; /* open to change */
    width: calc(100% - calc(2*var(--default-padding)));
    padding: 0 var(--default-padding);
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    transition: .4s ease-in-out;

    z-index: 1000;
}

.navbar-scrolled {
    background-color: var(--green);
    box-shadow: 0 6px 4px -1px rgba(0,0,0,.5);
}

#gabay-logo { 
    position: relative;
    height: 80%;
}

#gabay-logo > img {
    height: 100%;
    width: 100%;
}

#navbar-links > a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    position: relative;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}


#navbar-links > a:hover::after {
    width: 100%;
}

#navbar-links > a::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: white;
    position: absolute;
    transform: translateY(1.5em);
    left: 0;
    transition: .25s ease-in-out;
}

#nav-toggle {
    display: none;
    cursor: pointer;
}

#nav-toggle-bar {
    background-color: white;
    height: 3px;
    width: 21px;
    transition: .3s ease-in-out;
}

#nav-toggle-bar::before, #nav-toggle-bar::after {
  content: '';
  background-color: white;
  height: 3px;
  width: 21px;
  position: absolute;
  transition: .3s ease-in-out;
}

#nav-toggle-bar::before {
  transform: translateY(-6px);
}

#nav-toggle-bar::after {
  transform: translateY(6px);
}

#nav-toggle.open-nav > #nav-toggle-bar {
    transform: translateX(-30px);
    background-color: transparent;
}

#nav-toggle.open-nav > #nav-toggle-bar::before {
    width: 25px;
    transform: rotate(45deg) translate(35px, -35px);
}

#nav-toggle.open-nav > #nav-toggle-bar::after {
    width: 25px;
    transform: rotate(-45deg) translate(35px, 35px);
}

.full-view-height {
    height: 100vh;
}

/* ---------- LANDING PAGE ---------- */

#landing-page {
    background-image: url(assets/neofight-cropped.png); 
    background-size: cover; 
    background-repeat: no-repeat;
    /* background-position: 0 -150px; */
    background-position: center !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--default-padding);
    overflow: hidden;
}

#landing-black-layer {
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 1;
}

#landing-heading {
    color: var(--green);
    font-family: 'Myriad Pro bold';
    font-size: var(--title-size);
    line-height: .8em;
    user-select: none;
    text-align: center;

    z-index: 2;
}

#landing-subheading {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 36px;
    user-select: none;
    text-align: center;

    z-index: 2;
}


/* ---------- INTRODUCTION PAGE ---------- */

#introduction {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 0 var(--default-padding);
    position: relative;
}

#intro-grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr repeat(3, 3fr) 1fr;
}

#question-mark {
    position: absolute;
    top: 0;
    left: -50px;
    line-height: .85em;
    color: black;
    opacity: 22%;
    font-size: 500px;
    font-family: 'Montserrat', sans-serif;
    transform: rotate(20deg);
    user-select: none;
}

#intro-heading {
    display: flex;
    color: var(--green);
    font-size: var(--heading);
    grid-column: 1 / 9;
    grid-row: 2;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 20px;
    
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    z-index: 1;
}

#gabay-video {
    grid-column: 1 / 9;
    grid-row: 3 / 5;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 3;
    /* width: 100%;
    padding-bottom: 56.25%; 
    height: 0; */
}

#gabay-video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#intro-square {
    background-color: var(--cream);
    grid-column: 6 / 11;
    grid-row: 2 / 4;

    height: 100%;
    width: 100%;
    border-radius: 15px;
    z-index: 0;
}

#intro-girl {
    grid-column: 9 / 13;
    grid-row: 2 / 5;
    z-index: 1;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#intro-girl > img {
    height: 100%;
    user-select: none;
}

/* ---------- ADVOCACY-QUOTE ---------- */

#advocacy-quote {
    height: 50vh;
    background-color: var(--gray);
    padding: calc(var(--default-padding) * 2);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#advocacy-quote > p {
    font-family: 'Barlow', sans-serif;
    color: var(--green);
    font-size: var(--sectonrs-body-heading);
    text-align: center;
    font-weight: 800;
    cursor: default;
}

#advocacy-quote > p:hover {
    transform: scale(1.05);
}


/* ---------- SERVICES PAGE ---------- */

#services {
    height: fit-content;
    background-color: var(--green);
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services-heading {
    color: white;
    font-size: var(--heading);
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

#services-cards {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 12px;
}

.card {
    flex: 0 1 calc(calc(100% - 24px)/3);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 550px;
    width: 200px;
}

.card-header {
    height: 40%;
    position: relative;
}

.services-bg-pic {
    height: 100%;
}

.services-bg-pic > img{
    width: 100%;
    height: 100%;
}

.services-black-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.services-card-logo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-card-logo > img {
    position: absolute;
    margin: auto;
    height: 50%;
}

.card-body {
    height: 60%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {

}

.card-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: var(--sectonrs-body-heading);
}

.card-content {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.card-button {
    width: fit-content;
    padding: 8px 20px;
    border: 3px solid var(--green);
    border-radius: 122px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11px;
    z-index: 10000;
    transition: 0.3s ease-in-out;
}

.moving-pane {
    color: transparent;
    height: 100%;
    width: 0%;
    position: absolute;
    background-color: var(--green);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
}

.card-button:hover > .moving-pane {
    width: 100%;
    color: white;
}

.card-button:hover > .orig-text-button {
    color: white;
}

/* ---------- PROJECTS PAGE ---------- */

#projects {
    display: flex;
    background-color: white;
    padding: var(--default-padding) var(--default-padding) 0 var(--default-padding);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: fit-content;
}

#cream-square-projects {
    background-color: var(--cream);
    height: 500px;
    width: 700px;
    position: absolute;
    z-index: 0;
    border-radius: 15px;
    top: 20%;
    margin-left: 10%;
}

#gray-square-projects {
    background-color: var(--gray);
    height: 500px;
    width: 600px;
    position: absolute;
    z-index: 0;
    border-radius: 0 0 15px 15px;
    top: 0%;
    left: 40%;
}

.projects-col {
    z-index: 2;
    flex: 1 1 50%;
    overflow: hidden;
}

#projects-col-1 {
    display: flex;
    align-items: flex-end;
    position: relative;
}

#projects-vector {
    width: 83%;
}

.project-description {
    height: 80%;
    width: 90%;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--green);
    border-radius: 15px;
    bottom: 10%;
    margin: 0 auto;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    padding: 3rem;
}

#projects-col-2 {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#projects-heading {
    color: var(--green);
    font-size: var(--heading);
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    text-align: center;
    width: 100%;
    margin-bottom: .2em;
}

#project-cards {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}   

.project-single-card {
    border: 2px solid black;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 15px;
    aspect-ratio: 1;
    flex: 0 1 calc(calc(100% - 24px)/3);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
    user-select: none;
    transition: .4s ease-in-out;
    position: relative;
    z-index: 3;
}

.project-single-card:hover {
    transform: translate(-10px, -10px);
    background-color: var(--green);
    color: white;
    z-index: 2;
}

@keyframes showCard {
    from {
        transform: translateX(200px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes hideCard {
    from {
        transform: translateX(0px);
        opacity: 100%;
    }
    to {
        opacity: 0%;
        transform: translateX(-200px);
    }
}

/* ---------- CONTACT PAGE ---------- */
#footer {
    height: 50vh; /* change link-container padding if this will be changed */
    display: flex;
    flex-direction: row;
    position: relative;
}

#link-container {
    flex: 1 1 60%;

    display: flex;
    flex-direction: row;
    background-color: var(--green);
    
    box-sizing: border-box;
    padding: 10vh 0 0 var(--default-padding); /* 20% of footer height */
}

.link-column {
    color: white;
    font-family: 'Barlow', sans-serif;
    flex: 1 1 25%;

    display: flex;
    flex-direction: column;
}

.link-categ {
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 .5rem 0;
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}

.link-categ:hover {
    transform: translateY(-8px);
}

.footer-link {
    transition: .3s ease-in-out;
    line-height: 1.5rem;
    box-sizing: border-box;
    padding-right: 1rem;
}

.footer-link > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer-link:hover {
    transform: translateX(10px);
}

#contact-container {
    flex: 1 1 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cream);

    box-sizing: border-box;
    padding: 0 var(--default-padding);
    height: 100%;
}

#stay-connected {
    margin-bottom: 1.5rem;
}

#stay-connected-text {
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.stay-connected-links {
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.stay-connected-links > img{
    height: 45px;
}

#contact-us {
    display: flex;
    flex-direction: column;
}

#contact-us-text {
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 28px;
    font-weight: 800;
    padding-bottom: 1rem;
}

#contact-subject-text-area {
    margin-bottom: .5rem;
}

#contact-subject-text-area > input {
    width: 100%;
    border: none;
    line-height: 1.5rem;
    padding: 3px;
    box-sizing: border-box;

}

#contact-body-text-area {

}

#contact-body-text-area > textarea {
    resize: none;
    width: 100%;
    border: none;
    padding: 3px;
    box-sizing: border-box;
} 

#email-button {
    display: none;
}

#footer-button {
    width: fit-content;
    color: black;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    font-size: 16px;
    background-color: white;
    padding: 4px 24px;
    border-radius: 112px;
    border: 3px solid var(--green);
    position: relative;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    margin-top: 1rem;
}

#moving-pane-footer {
    position: absolute;
    background-color: var(--green);
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 112px;
    color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

#orig-text-button-footer {
    
}

#footer-button:hover > #moving-pane-footer {
    width: 100%;
    color: white !important;
}

#footer-button:hover > #orig-text-button-footer {
    color: white !important;
}

#footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyright {
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 12px;
    widtH: 100%;
    text-align: center;
    line-height: 2rem;
    background-color: transparent;
}

#footer-gradient {
    height: 1vh;
    background-image: linear-gradient(to right, var(--green), var(--cream));
}



/* ---------- PAGE RESPONSIVENESS ---------- */

@media screen and (max-width: 1335px) {
    .project-single-card {
        /* flex: 0 1 calc(calc(100% - 12px)/2); */
        font-size: 18px;
    }

    #intro-girl {
        grid-column: 9 / 13;
        grid-row: 3 / 5;
    }

    #intro-girl > img {
        width: 100%;
        height: 150%;
    }

    /* #intro-heading {
        grid-column: 1 / 13;
    }

    #intro-square {
        grid-column: 6 / 12;
    } */
} 

@media screen and (max-width: 1200px) {
    .project-description {
        font-size: 16px;
        padding: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --default-padding: 80px;
    }

    #intro-girl > img {
        width: 80%;
        height: 100%;
    }

    #intro-heading {
        grid-column: 1 / 13;
    }

    #intro-square {
        grid-column: 6 / 12;
    }

    #landing-heading {
        --title-size: 100px;
    }

    #landing-subheading {
        font-size: 28px;
    }

    .card {
        height: 700px;
    }

    #cream-square-projects {
        height: 400px;
        width: 600px;
    }
    
    #gray-square-projects {
        height: 400px;
        width: 500px;
    }
} 

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 900px) {
    :root {
        --default-padding: 60px;
    }

    #landing-heading {
        --title-size: 80px;
    }

    #landing-subheading {
        font-size: 22px;
    }

    #footer {
        flex-direction: column;
        height: 80vh;
        overflow: hidden;
    }

    #link-container {
        padding-right: var(--default-padding);
        flex: 1 1 40%;
    }

    .card {
        flex: 0 1 calc(50% - 12px);
        height: 600px;
    }

    #contact-container {
        padding-top: calc(var(--default-padding)/4);
        flex: 1 1 60%;
    }

    #copyright {
        color: black;
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        overflow: visible;
    }

    .navbar.open-nav {
        background-color: var(--green);
    }

    #navbar-links.closed-nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 150px var(--default-padding);
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: -200vh;
        left: 0;
        gap: 5rem;
        background-color: var(--green);
        transition: .5s ease-in-out;
    }

    #navbar-links.open-nav {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 150px var(--default-padding);
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 64px;
        left: 0;
        gap: 5rem;
        background-color: var(--green);
        transition: .5s ease-in-out;
    }

    #navbar-links > a {
        margin: 0;
    }

    #nav-toggle {
        display: inline;
    }

    #cream-square-projects {
        height: 200px;
        width: 400px;
    }
    
    #gray-square-projects {
        height: 200px;
        width: 300px;
    }


}

@media screen and (max-width: 700px) {

    #landing-heading {
        --title-size: 64px;
    }

    #landing-subheading {
        font-size: 20px;
    }

    /* #intro-heading {
        grid-column: 1 / 7;
    } */

    #gabay-video {
        grid-column: 1 / 13;
    }

    /* #intro-girl {
        grid-column: 7 / 13;
        grid-row: 1 / 4;
    } */
    
    #projects {
        flex-direction: column;
    }

    #projects-col-1 {
        height: fit-content;
    }
}

@media screen and (max-width: 660px) {
    .card {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --default-padding: 40px;
    }

    #landing-heading {
        --title-size: 52px;
    }

    #landing-subheading {
        font-size: 16px;
    }

    #link-container {
        display: none;
    }

    #footer {
        flex-direction: column;
        height: 60vh;
        overflow: hidden;
    }

    .project-description {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --default-padding: 20px;
    }
    
    #link-container {
        display: none;
    }

    #footer {
        flex-direction: column;
        height: 60vh;
        overflow: hidden;
    }
}

@media screen and (max-width: 330px) {

    .project-description {
        font-size: 10px;
    }
}

