/* fonts */
/* bitter  */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');
/* rubik */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bitter: 'Bitter', serif;
    --rubik: 'Rubik', sans-serif;
    --bg: #232323;
    --blue: #91DDFF;
    --highlight: #91dcffc2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: white;
    overflow-x: hidden;
    margin: 0 70px;
}



/* **************** */
/* globals */
/* **************** */


.highlighted {
    background-color: var(--highlight);
    padding: 2px 8px;
    border-radius: 6px;
}

.title {
    font-family: var(--bitter);
    font-size: 72px;
    font-weight: 600;
    text-align: center;
}


.orbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px;
}

.orbs > div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.button {
    font-family: var(--bitter);
    color: black;
    font-size: 28px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;;
    position: relative;
    font-weight: 600;
}

.button::before {
    content: '';
    position: absolute;
    inset: 0 0 -8px 0;
    border-radius: inherit; 
    z-index: -1;
}

.button:hover {
    top: 4px;
}

.button:hover::before {
    inset: 0 0 -4px 0;
}


/* **************** */
/* LANDING */
/* **************** */


#landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#landing-left {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 40px;
}

#landing-left img {
    width: 500px;
    object-fit: cover;
}

#landing-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 40px;
}

#landing-text {
    font-family: var(--bitter);
    font-size: 40px;
    color: var(--neutral);
    font-size: 96px;
    font-weight: 700;
}

#landing-text span {
    color: var(--blue);
}

#landing-orbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px 0px 70px;
    width: 225px;
}

#landing-orbs > div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.orb1 {
    background-color: #F48FB1;
}

.orb2 {
    background-color: #91DDFF;
}

.orb3 {
    background-color: #A1EFD3;
}

.orb4 {
    background-color: #D4BFFF;
}

.orb5 {
    background-color: #F2B482;
}

.orb6 {
    background-color: #9191FF;
}

#landing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

#projects-button {
    background-color: #A1EFD3;
}
#projects-button:before {
    background-color: #00A369;
}

#workexp-button {
    background-color: #FFE6B3;
}
#workexp-button:before {
    background-color: #E19700;
}

#contact-button {
    background-color: #D4BFFF;
}
#contact-button:before {
    background-color: #5E3AA8;
}


/* **************** */
/* BACKGROUND */
/* **************** */


#background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#background-parts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#background-left {
    width: 60%;
    font-family: var(--rubik);
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5;
    margin: 50px;
}

#background-right {
    width: 40%;
    display: flex;
}

#bg-img-holder {
    width: 500px;
    height: 700px;
    overflow:hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#bg-img-holder img {
    margin-top: 20px;
    width: 90%;
    height: 85%;
    object-fit: cover;
}

#bg-img-holder p {
    font-family: var(--bitter);
    font-size: 28px;
    font-weight: 600;
    color: black;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}

/* **************** */
/* PROJECTS */
/* **************** */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#projects-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    overflow-x: hidden;
    width: 100vw;
}

#scroll-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    overflow-x: hidden;
}

#project-scroll {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    transition: mask-image 0.3s ease-in-out;
    /* mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 5%,
        black 95%,
        transparent 100%
    ); */
}

.scroll-start {
    mask-image: linear-gradient(
        to right,
        black 95%,
        transparent 100%
    );
}

.scroll-end {
    mask-image: linear-gradient(
        to left,
        black 95%,
        transparent 100%
    );
}

.scroll-middle {
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 5%,
        black 95%,
        transparent 100%
    );
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 600px !important;
    min-width: 500px !important;
    max-width: 500px !important;
    color: black;
    font-size: 28px;
    font-family: var(--rubik);
    user-select: none;
    position: relative;
}

#projects-parts button {
    background-color: transparent;
    border: none;
    margin: 0 50px;
}

#projects-parts button:hover {
    cursor: pointer;
}

.project-image {
    border: 1px solid black;
    height: 300px;
    width: 450px;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.project-image > img {
    height: 100%;
    width: 100%;
}

.project-title {
    font-family: var(--bitter);
    font-size: 28px;
    margin-bottom: 10px;
}

.project-description {
    font-family: var(--rubik);
    font-size: 18px;
    margin-bottom: 10px;
}

.project-stack {
    font-family: var(--rubik);
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.project-link {
    position: relative;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;  
    background-color: transparent;  
    isolation: isolate;
    margin-top: 20px;
}

.project-link::before {
    content: '';
    position: absolute;
    inset: 0 0 -8px 0;
    border-radius: inherit;
    z-index: -1;
}

.project-link::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: -1;
}

/* First color set */
.project:nth-of-type(3n+1) .project-link::before {
    background-color: #00A369;
}
.project:nth-of-type(3n+1) .project-link::after {
    background-color: #A1EFD3;
}

/* Second color set */
.project:nth-of-type(3n+2) .project-link::before {
    background-color: #E19700;
}
.project:nth-of-type(3n+2) .project-link::after {
    background-color: #FFE6B3;
}

/* Third color set */
.project:nth-of-type(3n) .project-link::before {
    background-color: #5E3AA8;
}
.project:nth-of-type(3n) .project-link::after {
    background-color: #D4BFFF;
}

.project-link:hover {
    top: 4px;
}

.project-link:hover::before {
    inset: 0 0 -4px 0;
}

.project-link a {
    position: relative !important;
    font-family: var(--bitter);
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    z-index: 2;
}

.stack-logo {
    height: 20px;
    /* position: relative; */
}

.stack-logo-wrapper {
    position: relative; 
    display: inline-block; 
}

.stack-logo-name {
    display: none; 
    padding: 4px 8px;
    background-color: gray;
    color: white;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: 4px;
    font-size: 14px;
}

.stack-logo-wrapper:hover .stack-logo-name {
    display: inline-block; /* Show text on hover */
}




/* **************** */
/* WORK */
/* **************** */

#work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

#work-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 200px;
}

.work-card {
    color: black;
    font-family: var(--rubik);
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    width: 500px;
    flex: 1 1 calc(50% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.card-head > img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.card-title {
    font-family: 'Bitter', serif;
    font-size: 32px;
    font-weight: 600;
}

.bullets {
    padding: 10px 0 0 20px;
}

.bullets > li {
    font-size: 18px;
}

/* #work-orbs {
    margin-top: 0px!important;
} */


/* **************** */
/* CONTACT */
/* **************** */

#contact {
    height: 50vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-title {
    flex: 0 1 10%;
    padding-bottom: 40px;
}

#contact-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contact-logo {
    height: 50px;
    padding: 0 10px;
}

#footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
